{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .pointer{
        cursor: pointer;
      }
      #photoContainer{

      }
      #nameContainer{
        padding-left: 75px;
      }
      #nicknameContainer{
        padding-left: 75px;
      }
      #blocaoSugestion{
      }
      #blocoUsuario{
        padding-top:50px;
      }
      #allFriends{
        padding-left: 50px;
        height: 300px;
        overflow: auto;
      };
      .none{
        display: none;
      }

  </style>

  <meta charset="utf-8" />
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand pointer" onclick="return home();">Namerizer</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li id="homeButton" class="active"><a class="pointer" onclick="return home();">Home</a></li>
            <li id="aboutButton"><a class="pointer" onclick="return about();">About</a></li>
            <li id="contactButton"><a class="pointer" onclick="return contact();">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div id="home">
      <table>
        <td>
          <h1>Name a friend</h1>
          <p>Use this app to create nicknames for your friends.<br> All the created nicknames will be available in facebooks timeline.<br>To run it please install the plugin for <a href="http://userscripts.org/scripts/show/166625">firefox</a> or <a href="https://chrome.google.com/webstore/detail/namerizer/hpciladepbpfoobjnmngnhfbaoofgejh">chrome</a></p>
          <div class="ui-widget">
            <label for="tags" class="label" onclick="if(belongs(availableTags,$('#tags').val())){return selectFriend();}" >Search: </label>
            <input id="tags"/>
            <button type="button" onclick="return setAllFriendsWithCommonNickNames()" hidden='true'>Set common nicknames</button>
          </div>
          <div id="blocoUsuario"> 
            <table id='friendsBoard' hidden="true">
                
                  <td>
                    <div id="photoContainer">
                    </div>
                  </td>
                  <td >
                    <div>
                      <table>
                        <tr>
                          <h2 id="nameContainer" style="width:-1%;margin:auto;text-align: center;">
                          </h2>
                        </tr>
                        <tr>
                          <div style="width: 50%;margin:auto;text-align: center;">
                              <div class="ui-widget">
                                <input id="nicknameInput" placeholder="Enter Nickname" />
                                <div style="color:green;width:150%;text-align:center;" id="nicknameSet">Nickname Set</div>
                             </div>

                          </div>
                        </tr>
                      </table>
                    </div>
                   
                  </td>
                
              
                  
              
            </table>
          </div>
          <div id="blocaoSugestion"  hidden=true;>
            <h2>Suggestions:</h2>
            <div id="sugestionBoard">
            </div>
          </div>
        </td>
          
        <td>
          <div id="allFriends">
            <table id="allFriendsTable">
            </table>
          </div> 
        </td>

      </table>
    </div>
    <div id="about" hidden="true">
      <h1>About</h1>
      <p>This app was crafted in 24 hours for the Facebook Hackathon @ Sao Paulo 2013!</p>
    </div>
    <div id="contact" hidden="true">
      <h1>Contact</h1>
      <p>  
        <table>
          <td><tl>Eric Gomes Muxagata Conrado</tl> <tl><a href="mailto:ericgmconrado@gmail.com">ericgmconrado@gmail.com</a></tl></td>
          <td><tl>Luiz Filipe Martins Ramos</tl><tl> <a href="mailto:luizmramos@gmail.com">luizmramos@gmail.com</a></tl> </td>
          <td><tl>Rodrigo Roim Ferreira</tl><tl> <a href="mailto:rodrigu.rf@gmail.com">rodrigu.rf@gmail.com</a></tl></td>
          <td><tl>Victor Gonçalves Elias</tl><tl><a href="mailto:victorgelias@gmail.com"> victorgelias@gmail.com</a></tl></td>
        </table>
      </p>
    </div>
    <!--Below we include the Login Button social plugin. This button uses the JavaScript SDK to-->
    <!--present a graphical Login button that triggers the FB.login() function when clicked.-->
    <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
  </div> <!-- /container -->


<script type="text/javascript">

  
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '455440761201461', // App ID
    channelUrl : '//namerizer.herokuapp.com/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any auth related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      FindFriendlist();
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct user interaction (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  


  var availableTags = [];
  var usernames = [];
  var pictures = [];
  var ids=new Array('');
  var selectedId=0;
  var selectedName;
  var selectedUsername;
  var myId;
  var myName;
  var myUserName;



  function FindFriendlist(){
  var aux = new Array();
  FB.api("/me/friends?fields=username,name,id,picture",function(response){
    
    var k=0;
    for(var i in response.data){
      availableTags.push(response.data[i].name);
      if(response.data[i].username==undefined){
        usernames.push("00");
      }
      else{
        usernames.push(response.data[i].username);
      }
      ids[k]=response.data[i].id;
      pictures.push(response.data[i].picture.data.url);
      k=k+1;
    }
    $(function() {
        $( "#tags" ).autocomplete({
            source: availableTags
        });
    });
      

  });
  FB.api("/me",function(response){
    myId=response.id;
    myName=response.name;
    myUserName=response.username;
  });
  
}

function belongs(a,b){
  for(var i in a){
    if(a[i]==b)
      return true;
  }
  return false;
}

function selectFriend(){
    

    $('#nicknameSet').hide();
    $('#tags').html('');
    $('#nameContainer').html('');
    $('#nicknameInput').val('');
    $('#friendsBoard').show();
    $('#blocaoSugestion').show();
    $('#nameContainer').append($('#tags').val());
    

    for(var nome in availableTags){
        if(availableTags[nome]==$('#tags').val()){
          selectedId=ids[nome];
          selectedName=availableTags[nome];
          selectedUsername=usernames[nome];
          nomeSelected = availableTags[nome];
          lista=[];
          if($("#"+selectedId).length>0){
            $('#allFriends').animate({
              scrollTop: $("#"+selectedId).offset().top-$($('#allFriends tr')[0]).offset().top
            }, 400);
          }
          
           $.get(
            "http://namerizer.herokuapp.com/fetch/pair/" + myId + "/" + selectedId,
            {},
            function(data){
              alias = decodeFromHex(data.alias);
              
              window.setTimeout(function(){$('#nicknameInput').val(alias.replace(new RegExp(String.fromCharCode(0), 'g'),""));},100);
              
            }
            
          );

          $.get(
            "http://namerizer.herokuapp.com/fetch/suggestions/" + selectedId + "/" + "10",
            {},
            function(data) {
                $('#sugestionBoard').html('');
                sug=[];
                existsugestion=0;
                for(i in data){
                    existsugestion=1;
                    var str=decodeFromHex(data[i][0]).replace(new RegExp(String.fromCharCode(0), 'g'),"");

                    sug.push(str);
                    $('#sugestionBoard').append("<div style=\"cursor:pointer;\" id=\"suggestion"+ i+ "\">"+  str +"</div>");
                    (function(str){return $('#suggestion'+i).click(function(){
                        console.log(""+str);
                        $('#nicknameInput').val(str);
                        
                        createNickname(selectedId,encodeToHex($('#nicknameInput').val()),encodeToHex(selectedName),encodeToHex(selectedUsername),function(){$('#nicknameSet').show();});
                        updateCommonNicknameInput(selectedId,$('#nicknameInput').val());
                      });
                    })(str);
                }
                if(existsugestion==0){
                  $('#sugestionBoard').append('<div>No sugestions available!</div>');
                }
                
                $(function(){$('#nicknameInput').autocomplete({
                  source: sug
                  });
                });
            }
          );
          $('#photoContainer').html('<img src=\"' + pictures[nome]  + '\"  \/>');
          

          break;

        }
      
    }
    

    
    
}

function isEnter(e){
  var keycode;
  if (window.event) keycode = window.event.keyCode;
  else if (e) keycode = e.which;
  else return false;

  if (keycode == 13){
     return true;
  }
}

$('#tags').keypress(function clickFriend(e){
  if(isEnter(e) && belongs(availableTags,$('#tags').val())){
    selectFriend();
  }
});

function encodeToHex(str){
    if(str==undefined)return "";
    var r="";
    var e=str.length;
    var c=0;
    var h;
    while(c<e){
        h=str.charCodeAt(c++).toString(16);
        while(h.length<3) h="0"+h;
        r+=h;
    }
    return r;
}
function decodeFromHex(str){
    if(str==undefined)return "";
    var r="";
    var e=str.length;
    var s;
    while(e>=0){
        s=e-3;
        r=String.fromCharCode("0x"+str.substring(s,e))+r;
        e=s;
    }
    return r;
}

function createNickname(p2,p3,p4,p5,f){
  if(p5==undefined)p5="00";
  $.get(
      "http://namerizer.herokuapp.com/fetch/create/" + myId + "/" + p2 + "/" + p3 +'/'+  p4 + '/' + p5,
      {},
      function(data) {
         console.log("status: success");
         f();

      }
    );
}


$('#nicknameInput').keypress(function sendNickname(e){
   
   if(isEnter(e)){
    createNickname(selectedId,encodeToHex($('#nicknameInput').val()),encodeToHex(selectedName),encodeToHex(selectedUsername),function(){$('#nicknameSet').show();});
    updateCommonNicknameInput(selectedId,$('#nicknameInput').val());
    
  }
  else{
      console.log(e.which);
     $('#nicknameSet').hide();
  }
});

function clearScreen(){
  $('#homeButton').removeClass("active");
  $('#contactButton').removeClass('active');
  $('#aboutButton').removeClass('active');
  $('#home').hide();
  $('#contact').hide();
  $('#about').hide();
  
}

function home(){
  clearScreen();
  $('#home').show();
  $('#homeButton').addClass('active');

}

function contact(){
  clearScreen();
  $('#contact').show();
  $('#contactButton').addClass('active');
}

function about(){
  clearScreen();
  $('#about').show();
  $('#aboutButton').addClass('active');
}

function updateCommonNicknameInput(id,str){
  $('#'+id+' input').val(str);
}

function setCommonNickName(i,str){
  updateCommonNicknameInput(ids[i],str);
  console.log(str+' '+availableTags[i]+' ' +usernames[i]);
  createNickname(ids[i],encodeToHex(str),encodeToHex(availableTags[i]),encodeToHex(usernames[i]),function(){console.log('foi');$('#nicknameSet'+ids[i]).show();});
  

}


function setAllFriendsWithCommonNickNames(){
  window.setTimeout(function(){
    $('#allFriendsTable').html('');
    for(i in ids){
        //console.log(i);
        (function(i){return $.get(
              "http://namerizer.herokuapp.com/fetch/suggestions/" + ids[i] + "/" + "1",
              {},
              function(data){
                if(data.length==0)return;
                //console.log(data);
                //console.log(data[0]);
                var str=decodeFromHex(data[0][0]).replace(new RegExp(String.fromCharCode(0), 'g'),"");
                $('#allFriendsTable').append("\
                  <tr id=\""+ ids[i] +"\" style=\"height: 50px;\">\
                    <td>\
                      <img src=\"" + pictures[i]  + "\"/>\
                    </td>\
                    <td>\
                      <div style=\"padding-left:15px;\">"+availableTags[i]+"</div>\
                    </td>\
                    <td>\
                      <div class=\"navbar-form pull-left\" style=\"position: relative;\">\
                        <input type=\"text\" class=\"span2\">\
                        <div style=\"color:green;width:100%;text-align:center;position:absolute;\" id=\"nicknameSet"+ids[i]+"\">Nickname Set</div>\
                      </div>\
                    </td>\
                    <td>\
                      <button onclick=\"return setCommonNickName("+i+",\'"+str+"\');\" class=\"btn\"><<</button>\
                    </td>\
                    <td>\
                      <div>"+ str +"</div>\
                    </td>\
                  </tr>");
                $('#nicknameSet'+ids[i]).hide();
                $('#'+ids[i]+' input').keypress(function clickFriend(e){
                  if(isEnter(e)){
                    setCommonNickName(i,$('#'+ids[i]+' input').val());
                  }
                });

              });
        })(i);

    }
  },0);
}

</script>


</body>
</html>