{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head><title>Namerizer App</title></head>
    <div id="nicknames_box">
        {% if latest_messages %}
        <ul>
        {% for mess in latest_messages %}
            <li><b>{{ mess.source }}</b>{{ mess.target }}<i>{{ mess.pub_date }}</i></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No messages are available.</p>
        {% endif %}
    </div>
    <br>
    <br>
    <textarea></textarea>

<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "csrf_config.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $.post("update", {})
        .done(function(data) {
            alert("Data Loaded: " + data);
        });
    });
</script>

</html>