{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
<div id="fb-root"></div>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags" onKeyPress="clickFriend()"/>
</div>
<table id='friendsBoard' hidden="true">
  <td id="photoContainer">
  </td>
  <td id="nameContainer">
  </td>
  <td>
    <input id="nicknameInput" onKeyPress="sendNickname()"/>
  </td>
</table>

</div>



<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '455440761201461', // App ID
    channelUrl : '//namerizer.herokuapp.com/channel.html', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any auth related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      FindFriendlist();
    } else if (response.status === 'not_authorized') {
      // In this case, the person is logged into Facebook, but not into the app, so we call
      // FB.login() to prompt them to do so. 
      // In real-life usage, you wouldn't want to immediately prompt someone to login 
      // like this, for two reasons:
      // (1) JavaScript created popup windows are blocked by most browsers unless they 
      // result from direct user interaction (such as a mouse click)
      // (2) it is a bad experience to be continually prompted to login upon page load.
      FB.login();
    } else {
      // In this case, the person is not logged into Facebook, so we call the login() 
      // function to prompt them to do so. Note that at this stage there is no indication
      // of whether they are logged into the app. If they aren't then they'll see the Login
      // dialog right after they log in to Facebook. 
      // The same caveats as above apply to the FB.login() call here.
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  


  var availableTags = [];
  var ids=new Array('');
  var selectedId=0;
  var myId;



  function FindFriendlist(){
  var aux = new Array();
  FB.api("/me/friends",function(response){
    
    var k=1;
    for(var i in response.data){
      availableTags.push(response.data[i].name);
      ids[k]=response.data[i].id;
      k=k+1;
    }
    console.log(availableTags);
    $(function() {
        $( "#tags" ).autocomplete({
            source: availableTags
        });
    });
      

  });
  FB.api("/me",function(response){
    myId=response.id;
  });
  
}

function belongs(a,b){
  for(var i in a){
    if(a[i]==b)
      return true;
  }
  return false;
}

function selectFriend(){
    $('#tags').html('');
    $('#nameContainer').html('');
    $('#nicknameInput').val('');
    $('#friendsBoard').show();
    $('#nameContainer').append($('#tags').val());


    for(var nome in availableTags){
        if(availableTags[nome]==$('#tags').val()){
          selectedId=ids[nome];
          nomeSelected = availableTags[nome];
          alert("a="+selectedId);
          FB.api(selectedId+ "/picture",function(response){
              alert(response.data.url);
              $('#photoContainer').append('<img src=\"' + response.data.url  + '\"  \/>'); 

          });



        }
        break;
    }
    

    
    
}

function clickFriend(){
  var keycode;
  if (window.event) keycode = window.event.keyCode;
  else if (e) keycode = e.which;
  else return true;

  if (keycode == 13){
     selectFriend();
     return false;
  }
}

function sendNickname(){
  alert("http://namerizer.herokuapp.com/fetch/create/" + myId + "/" + selectedId + "/" + $('#nicknameInput').val());
  $.get(
    "http://namerizer.herokuapp.com/fetch/create/" + myId + "/" + selectedId + "/" + $('#nicknameInput').val() ,
    {},
    function(data) {
       alert('page content: ' + data);
    }
  );
}

</script>
<!--Below we include the Login Button social plugin. This button uses the JavaScript SDK to-->
<!--present a graphical Login button that triggers the FB.login() function when clicked.-->
<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
</body>
</html>